body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    background: #eeeeee;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin: 0;
    color: #404040;
}

h2 i, h3 i {
    margin-right: 10px;
}

p {
    font-size: 16px;
    margin: 0;
    color: #666666;
}

a {
    color: #0690FA;
}

.main-container {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.page-section {
    margin-bottom: 25px;
}

.skills div {
    display: inline-block;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
}

.profile-panel {
    background: #f9f9f9;
    padding-top: 35px;
    padding-bottom: 35px;
    float: left;
    width: 25%;
    margin-right: 2%;
    border: 1px solid #e0e0e0;
}

.profile-panel h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 15px;
}

.profile-panel h2 {
    font-size: 18px;
    margin-top: 5px;
}

.profile-panel h3 {
    font-size: 16px;
    margin-top: 5px;
}

.profile-panel h3 i {
    font-size: 18px;
    padding-right: 6px;
}

.sidebar-links {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 18px;
}

.social-profiles a {
    font-size: 40px;
    color: #000;
}

.social-profiles a:hover {
    color: #0690FA;
}

.main-panel {
    background: #F9F9F9;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    width: 73%;
    float: left;
    border: 1px solid #e0e0e0;
}

.main-panel h1 {
    font-size: 26px;
    margin-bottom: 50px;
}

.main-panel h2 {
    font-size: 26px;
    color: #4d4d4d;
    margin-bottom: 10px;
}

.main-panel h3 {
    margin-bottom: 7px;
}

.about p {
    margin-bottom: 25px;
}

.useful-links a {
    font-size: 18px;
    float:left;
    clear:left
}

.stack-images {
    padding-top: 10px;
    margin-bottom: 15px;
}

.project {
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-description p {
    font-size: 17px;
}

.project-description h3 {
    color: #0690FA;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.project-stack {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-stack img {
    width: 50px;
}

.stack-images img {
    width: 50px;
}

@media(max-width: 1000px) {
    .profile-panel {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 3%;
    }

    .main-panel {
        float: none;
        width: 100%;
    }
}