<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Arya Mohades</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/normalize.css" rel="stylesheet"/>
        <link href="/static/css/custom.css" rel="stylesheet"/>
    </head>
    <body>
    <!-- Main Container -->
    <div class="main-container">
        <!-- Side Panel -->
        <div class="profile-panel" align="center">
            <img class="img-circle" width="150px" src="/static/img/me.png"></img>
            <h1>Arya Mohades</h1>
            <h2>Software Engineer</h2>
            <h3><i class="fa fa-map-marker"></i> Austin, TX</h3>
            <h3><i class="fa fa-envelope-o"></i> am611@utexas.edu</h3>

            <div class="sidebar-links">
                <a href="/">Home</a><br>
                <a href="blog">Blog</a><br>
                <a href="about">About</a><br>
                <a href="projects">Projects</a><br>
                <a href="learn">Resources</a><br>
            </div>

            <div class="social-profiles">
                <a href="https://github.com/taapesh" target='_blank'><i class="fa fa-github"></i></a>
            </div>
        </div>
        <!-- End Side Panel -->

        <!-- Main Panel -->
        <div class="main-panel">
            <!-- Programming Languages -->
            <div class="page-section">
                <h2><i class="fa fa-terminal"></i> Programming<span></h2>
                <div class="stack-images">
                    <img src="/static/img/python.png"></img>
                    <img src="/static/img/java.png"></img>
                    <img src="/static/img/javascript.jpeg"></img>
                    <img src="/static/img/html5.svg"></img>
                    <img src="/static/img/css3.svg"></img>
                    <br>
                </div>

                <div class="skills">
                    <div>Python</div>
                    <div>Java</div>
                    <div>JavaScript</div>
                    <div>HTML5</div>
                    <div>CSS3</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- End Programming Languages -->

            <!-- Technologies -->
            <div class="page-section">
                <h2><i class="fa fa-bars"></i> Stack</h2>
                <div class="stack-images">
                    <img src="/static/img/django.png"></img>
                    <img src="/static/img/android.png"></img>
                    <img src="/static/img/android_studio.jpeg"></img>
                    <img src="/static/img/heroku.png"></img>
                    <img src="/static/img/bootstrap.png"></img>
                    <img src="/static/img/git.png"></img>
                    <img src="/static/img/github.png"></img>
                    <img src="/static/img/amazon-s3.png"></img>
                    <img src="/static/img/sublime_text.png"></img>
                    <img src="/static/img/slack.png"></img>
                    <img src="/static/img/travis_ci.jpg"></img>
                    <img src="/static/img/unity3d.png"></img>
                    <br>
                </div>

                <div class="skills">
                    <div>Django Framework</div>
                    <div>Android</div>
                    <div>Android Studio</div>
                    <div>Heroku</div>
                    <div>Bootstrap</div>
                    <div>Git</div>
                    <div>Github</div>
                    <div>Amazon S3</div>
                    <div>Sublime Text</div>
                    <div>Slack</div>
                    <div>TravisCI</div>
                    <div>Unity 3d</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- End Technologies -->

            <!-- Current -->
            <div class="page-section">
                <h2>Current<span></h2>
                <div class="stack-images">
                    <img src="/static/img/nodejs.svg"></img>
                    <img src="/static/img/angular.png"></img>
                    <img src="/static/img/mongodb.png"></img>
                    <img src="/static/img/express.png"></img>
                    <br>
                </div>

                <div class="skills">
                    <div>Node.js</div>
                    <div>Angular.js</div>
                    <div>MongoDB</div>
                    <div>Express.js</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- End Current -->
        </div>
        <!-- End Main Panel -->
    </div>
    <!-- End Main Container -->

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-1.12.0.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>