<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Arya Mohades</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/normalize.css" rel="stylesheet"/>
        <link href="/static/css/custom.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="main-container">
            <div class="profile-panel" align="center">
                <img class="img-circle" width="150px" src="/static/img/me.png"></img>
                <h1>Arya Mohades</h1>
                <h2>Software Engineer</h2>
                <h3><i class="fa fa-map-marker"></i>Austin, TX</h3>
                <div class="contact-links">
                    <h3><i class="fa fa-phone"></i>832-350-1119</h3>
                    <h3><i class="fa fa-envelope-o"></i>am611@utexas.edu</h3>
                </div>
                <div class="social-profiles">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="main-panel">
                <div class="page-section">
                    <div class="info-section">
                        <h2><i class="fa fa-info"></i> Intro</h2>
                        <p>My name is Arya Mohades. I am a programmer interested in application programming, including mobile apps, web apps, and games.</p>
                    </div>
                </div>

                <div class="page-section">
                    <div class="info-section education">
                        <h2><i class="fa fa-graduation-cap"></i> Education</h2>
                        <div style="display: inline"><b>BS, Computer Science</b></div>
                        <div style="display: inline; margin-left: 15px">December, 2015</div><br>
                        <div><b>The University of Texas at Austin</b></div>
                    </div>
                </div>

                <div class="page-section">
                    <h2>&lt;/><span style="padding-left: 5px">Programming<span></h2>
                    <div class="stack-images">
                        <img src="/static/img/python.png"></img>
                        <img src="/static/img/java.png"></img>
                        <img src="/static/img/html5.png"></img>
                        <img src="/static/img/csharp.png"></img>
                        <img src="/static/img/cplusplus.png"></img>
                        <img src="/static/img/javascript.jpeg"></img>
                        <br>
                    </div>

                    <div class="language-bar python-label">Python</div>
                    <div class="language-bar python-bar"></div>
                    <div class="clearfix"></div>

                    <div class="language-bar java-label">Java</div>
                    <div class="language-bar java-bar"></div>
                    <div class="clearfix"></div>

                    <div class="language-bar html5-label">HTML5</div>
                    <div class="language-bar html5-bar"></div>
                    <div class="clearfix"></div>

                    <div class="language-bar csharp-label">C#</div>
                    <div class="language-bar csharp-bar"></div>
                    <div class="clearfix"></div>

                    <div class="language-bar cpp-label">C++</div>
                    <div class="language-bar cpp-bar"></div>
                    <div class="clearfix"></div>

                    <div class="language-bar javascript-label">JavaScript</div>
                    <div class="language-bar javascript-bar"></div>
                    <div class="clearfix"></div>
                </div>

                <div class="page-section">
                    <h2><i class="fa fa-cube"></i> Technologies</h2>
                    <div class="stack-images">
                        <img src="/static/img/django.png"></img>
                        <img src="/static/img/android.png"></img>
                        <img src="/static/img/unity3d.png"></img>
                        <img src="/static/img/heroku.png"></img>
                        <img src="/static/img/amazon-s3.png"></img>
                        <br>
                    </div>

                    <div class="skill-block">Django Framework</div>
                    <div class="skill-block">Android</div>
                    <div class="skill-block">Unity 3d</div>
                    <div class="skill-block">Heroku</div>
                    <div class="skill-block">Amazon S3</div>
                    <div class="clearfix"></div>
                </div>

                <div class="page-section">
                    <h2><i class="fa fa-wrench"></i> Tools</h2>
                    <div class="stack-images">
                        <img src="/static/img/git.png"></img>
                        <img src="/static/img/github.png"></img>
                        <img src="/static/img/bootstrap.png"></img>
                        <img src="/static/img/android_studio.jpeg"></img>
                        <img src="/static/img/sublime_text.png"></img>
                        <img src="/static/img/eclipse.png"></img>
                        <img src="/static/img/slack.png"></img>
                        <img src="/static/img/travis_ci.jpg"></img>
                        <br>
                    </div>

                    <div class="skill-block">Git</div>
                    <div class="skill-block">Github</div>
                    <div class="skill-block">Bootstrap</div>
                    <div class="skill-block">Android Studio</div>
                    <div class="skill-block">Sublime Text</div>
                    <div class="skill-block">Eclipse IDE</div>
                    <div class="skill-block">Slack</div>
                    <div class="skill-block">TravisCI</div>
                    <div class="clearfix"></div>
                </div>

                <div class="page-section">
                    <h2><i class="fa fa-folder-open"></i> Projects</h2>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>