<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Arya Mohades</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/normalize.css" rel="stylesheet"/>
        <link href="/static/css/custom.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="main-container">
            <div class="profile-panel" align="center">
                <img class="img-circle" width="150px" src="/static/img/me.png"></img>
                <h1>Arya Mohades</h1>
                <h2>Software Engineer</h2>
                <h3><i class="fa fa-map-marker"></i>Austin, TX</h3>
                <div class="contact-links">
                    <h3><i class="fa fa-phone"></i>832-350-1119</h3>
                    <h3><i class="fa fa-envelope-o"></i>am611@utexas.edu</h3>
                </div>
                <div class="social-profiles">
                    <a href="https://www.facebook.com/arya.mohades" target='_blank'><i class="fa fa-facebook"></i></a>
                    <a href="https://github.com/taapesh" target='_blank'><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="main-panel">
                <div class="page-section">
                    <div class="info-section">
                        <h2><i class="fa fa-info"></i> Intro</h2>
                        <p>Making the world a better place</p>
                        <a href="about" class="about-link">About Me</a>
                    </div>
                </div>

                <hr>

                <div class="page-section">
                    <div class="info-section education">
                        <h2><i class="fa fa-graduation-cap"></i> Education</h2>
                        <div><b>BS, Computer Science</b></div>
                        <div><b>The University of Texas at Austin</b></div>
                        <div class="coursework-label">Coursework</div>
                        <div class="skill-block">Object Oriented Programming</div>
                        <div class="skill-block">Software Engineering</div>
                        <div class="skill-block">Modern Web Applications</div>
                        <div class="skill-block">Algorithms and Complexity</div>
                        <div class="skill-block">Operating Systems</div>
                        <div class="skill-block">Data Structures</div>
                        <div class="skill-block">Computer Architecture</div>
                        <div class="skill-block">Wireless Networks</div>
                        <div class="skill-block">Data Management</div>
                        <div class="skill-block">Programming for Performance</div>
                        <div class="skill-block">Computer Security</div>
                        <div class="skill-block">Advanced Operating Systems</div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <hr>

                <div class="page-section programming">
                    <h2><i class="fa fa-terminal"></i> Programming<span></h2>
                    <div class="stack-images">
                        <img src="/static/img/python.png"></img>
                        <img src="/static/img/java.png"></img>
                        <img src="/static/img/html5.png"></img>
                        <img src="/static/img/csharp.png"></img>
                        <img src="/static/img/cplusplus.png"></img>
                        <img src="/static/img/javascript.jpeg"></img>
                        <br>
                    </div>

                    <div class="language-bar java-label">Java</div>
                    <div class="language-bar java-bar"></div>
                    <div class="clearfix"></div>

                    <div class="language-bar python-label">Python</div>
                    <div class="language-bar python-bar"></div>
                    <div class="clearfix"></div>

                    <div class="language-bar html5-label">HTML5 / CSS</div>
                    <div class="language-bar html5-bar"></div>
                    <div class="clearfix"></div>

                    <div class="language-bar csharp-label">C#</div>
                    <div class="language-bar csharp-bar"></div>
                    <div class="clearfix"></div>

                    <div class="language-bar cpp-label">C++</div>
                    <div class="language-bar cpp-bar"></div>
                    <div class="clearfix"></div>

                    <div class="language-bar javascript-label">JavaScript</div>
                    <div class="language-bar javascript-bar"></div>
                    <div class="clearfix"></div>
                </div>

                <hr>

                <div class="page-section technologies">
                    <h2><i class="fa fa-cube"></i> Technologies</h2>
                    <div class="stack-images">
                        <img src="/static/img/django.png"></img>
                        <img src="/static/img/android.png"></img>
                        <img src="/static/img/unity3d.png"></img>
                        <img src="/static/img/heroku.png"></img>
                        <img src="/static/img/amazon-s3.png"></img>
                        <br>
                    </div>

                    <div class="skill-block">Django Framework</div>
                    <div class="skill-block">Android</div>
                    <div class="skill-block">Unity 3d</div>
                    <div class="skill-block">Heroku</div>
                    <div class="skill-block">Amazon S3</div>
                    <div class="clearfix"></div>
                </div>

                <hr>

                <div class="page-section tools">
                    <h2><i class="fa fa-wrench"></i> Tools</h2>
                    <div class="stack-images">
                        <img src="/static/img/git.png"></img>
                        <img src="/static/img/github.png"></img>
                        <img src="/static/img/bootstrap.png"></img>
                        <img src="/static/img/android_studio.jpeg"></img>
                        <img src="/static/img/sublime_text.png"></img>
                        <img src="/static/img/eclipse.png"></img>
                        <img src="/static/img/slack.png"></img>
                        <img src="/static/img/travis_ci.jpg"></img>
                        <br>
                    </div>

                    <div class="skill-block">Git</div>
                    <div class="skill-block">Github</div>
                    <div class="skill-block">Bootstrap</div>
                    <div class="skill-block">Android Studio</div>
                    <div class="skill-block">Sublime Text</div>
                    <div class="skill-block">Eclipse IDE</div>
                    <div class="skill-block">Slack</div>
                    <div class="skill-block">TravisCI</div>
                    <div class="clearfix"></div>
                </div>

                <hr>

                <div class="page-section projects">
                    <h2><i class="fa fa-folder-open"></i> Projects</h2>
                    <div class="project">
                        <img src="/static/img/tablemate.png" class="project-image"></img>
                        <div class="project-description">
                            <h3>Tablemate</h3>
                            <p>Tablemate is a mobile app (currently only Android) that allows diners in restaurants to request table service, order food and drink, and pay the bill without waiting.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>

                    <div class="project">
                        <img src="/static/img/automagic.png" class="project-image"></img>
                        <div class="project-description">
                            <h3>Automagic</h3>
                            <p>Automagic is a set of python and bash scripts that automatically generate a sophisticated website and deploy the site to Heroku from the terminal.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>

                    <div class="project">
                        <img src="/static/img/cryptfolio.png" class="project-image"></img>
                        <div class="project-description">
                            <h3>Cryptfolio</h3>
                            <p>Cryptfolio is a desktop application integrated with Google drive designed to protect any sensitive information. Cryptfolio lets you use secure passwords while keeping your info accessible and searchable.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>

                    <div class="project">
                        <img src="/static/img/makeshift.png" class="project-image"></img>
                        <div class="project-description">
                            <h3>Makeshift</h3>
                            <p>Makeshift is an online turn-based strategy game inspired by chess. Each player controls a single Architect character which is used to create additional units. The objective is to control the map and launch assaults on the opposing player's base.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>

                    <div class="project">
                        <img src="/static/img/aes.png" class="project-image"></img>
                        <div class="project-description">
                            <h3>AES-256</h3>
                            <p>The AES-256 encryption algorithm implemented in Java. Algorithm specifics: 128-bit input, 256-bit key, 14 rounds. Each round implements four steps: SubBytes, ShiftRows, MixColumns, and AddRoundKey.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>

                    <div class="project">
                        <img src="/static/img/brixster.png" class="project-image"></img>
                        <div class="project-description">
                            <h3>Brixster</h3>
                            <p>Brixster is an Android app that allows users to scan product barcodes using the Scandit SDK and view product information</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>

                    <div class="project">
                        <img src="/static/img/bountyful.png" class="project-image"></img>
                        <div class="project-description">
                            <h3>Bountyful</h3>
                            <p>Bountyful is a web application that allows users to advertise tasks or complete tasks for other users in exchange for Bitcoin. The site allows users to store, accumulate, and withdraw their Bitcoins using the Block.io Bitcoin API.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>