<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Arya Mohades</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/normalize.css" rel="stylesheet"/>
        <link href="/static/css/custom.css" rel="stylesheet"/>
    </head>
    <body>
    <!-- Main Container -->
    <div class="main-container">
        <!-- Side Panel -->
        <div class="profile-panel" align="center">
            <img class="img-circle" width="150px" src="/static/img/me.png"></img>
            <h1>Arya Mohades</h1>
            <h2>Software Engineer</h2>
            <h3><i class="fa fa-map-marker"></i> Austin, TX</h3>
            <h3><i class="fa fa-envelope-o"></i> am611@utexas.edu</h3>

            <div class="sidebar-links">
                <a href="/">Home</a><br>
                <a href="blog">Blog</a><br>
                <a href="about">About</a><br>
                <a href="projects">Projects</a><br>
                <a href="learn">Resources</a><br>
            </div>

            <div class="social-profiles">
                <a href="https://github.com/taapesh" target='_blank'><i class="fa fa-github"></i></a>
            </div>
        </div>
        <!-- End Side Panel -->

        <!-- Main Panel -->
        <div class="main-panel">
            <div class="projects">
                <div class="project">
                    <div class="project-description">
                        <h3>Tablemate</h3>
                        <p>Tablemate is a mobile app (currently only Android) that allows diners in restaurants to request table service, order food and drink, and pay the bill without waiting.</p>

                        <div class="project-stack">
                            <img src="/static/img/android.png"></img>
                            <img src="/static/img/python.png"></img>
                            <img src="/static/img/django.png"></img>
                            <img src="/static/img/heroku.png"></img>
                        </div>

                        <a href="https://github.com/taapesh/tablemate-v2">Android source</a><br>
                        <a href="https://github.com/taapesh/tablemate-api-v2">API source</a><br>
                        <a href="https://github.com/taapesh/tablemate-web">Website source</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>

                <div class="project">
                    <div class="project-description">
                        <h3>Automagic</h3>
                        <p>Automagic is a set of python and bash scripts that automatically generate a sophisticated website and deploy the site to Heroku from the terminal.</p>

                        <div class="project-stack">
                            <img src="/static/img/python.png"></img>
                            <img src="/static/img/heroku.png"></img>
                            <img src="/static/img/amazon-s3.png"></img> 
                        </div>

                        <a href="https://github.com/taapesh/automagic-web">Source</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>

                <div class="project">
                    <div class="project-description">
                        <h3>Vindigo</h3>
                        <p>Vindigo is a web app and API that simulates the capabilities of a connected car device by recording trips as well as displaying them in realtime.</p>

                        <div class="project-stack">
                            <img src="/static/img/nodejs.svg"></img>
                            <img src="/static/img/angular.png"></img>
                            <img src="/static/img/mongodb.png"></img>
                            <img src="/static/img/express.png"></img> 
                        </div>

                        <a href="https://github.com/taapesh/vindigo">Source</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>

                <div class="project">
                    <div class="project-description">
                        <h3>Cryptfolio</h3>
                        <p>Cryptfolio is a desktop application integrated with Google drive designed to protect any sensitive information. Cryptfolio lets you use secure passwords while keeping your info accessible and searchable.</p>

                        <div class="project-stack">
                            <img src="/static/img/python.png"></img>   
                        </div>

                        <a href="https://github.com/taapesh/cryptfolio">Source</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>

                <div class="project">
                    <div class="project-description">
                        <h3>Makeshift</h3>
                        <p>Makeshift is an online turn-based strategy game inspired by chess. Each player controls a single Architect character which is used to create additional units. The objective is to control the map and launch assaults on the opposing player's base.</p>

                        <div class="project-stack">
                            <img src="/static/img/unity3d.png"></img>
                            <img src="/static/img/csharp.png"></img>
                        </div>

                        <a href="https://github.com/taapesh/Makeshift">Source</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>

                <div class="project">
                    <div class="project-description">
                        <h3>AES-256</h3>
                        <p>The AES-256 encryption algorithm implemented in Java. Algorithm specifics: 128-bit input, 256-bit key, 14 rounds. Each round implements four steps: SubBytes, ShiftRows, MixColumns, and AddRoundKey.</p>

                        <div class="project-stack">
                            <img src="/static/img/java.png"></img>  
                        </div>

                        <a href="https://github.com/taapesh/AES-256">Source</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr>

                <div class="project">
                    <div class="project-description">
                        <h3>Brixster</h3>
                        <p>Brixster is an Android app that allows users to scan product barcodes using the Scandit SDK and view product information</p>

                        <div class="project-stack">
                            <img src="/static/img/android.png"></img>  
                        </div>

                        <a href="https://github.com/taapesh/brixster-android">Source</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- End Main Panel -->
    </div>
    <!-- End Main Container -->

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-1.12.0.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>